extends ../layouts/base
block styles
  link(rel="stylesheet", href="/assets/css/login.css")
block content
  div.login
    div.content_image
      img(src="/assets/img/user.png")
    div.content_form
      h2.title Iniciar Sesi칩n
      form(
        action="/login"
        method="post"
        class="form"
      )
        div
          div.input_container
            label(for="email" class="label") Correo
            input(
              type="email"
              name="email"
              placeholder="Correo"
              class="input"
            )
          div.input_container
            label(for="password" class="label") Contrase침a
            input(
              type="password"
              name="password"
              placeholder="Contrase침a"
              class="input"
            )
        div.container_button
          button.button Iniciar Sesi칩n
